<!DOCTYPE html>
<html>
<head>
<title>Register Login with Authentication</title>
<style type="text/css">
	.login-div{float: left;width: 48%;margin-right: 4%;}
	.register-div {float: right;width: 48%;}
	.signin-form h3 {
	    font-size: 16px;
	    color: #000;
	    font-weight: 700;
	    margin-bottom: 1.5em;
	}
	input{margin-top: 10px;}
</style>
</head>
<body>
	<h1>Test Authentication </h1>
	<div class="main">
		<!--signin-form-->
		<div class="login-div ">
			<div class="signin-form profile">
				<h3>Login</h3>
				<div class="login-form">
					<form action="/" method="post">
						<input type="text" name="logemail" placeholder="E-mail" required=""><br>
						<input type="password" name="logpassword" placeholder="Password" required=""><br>
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="register-div ">
			<div class="signin-form profile">
				<h3>Register</h3>
				<div class="login-form">
					<form action="/" method="post">
						<input type="text" name="email" placeholder="E-mail" required=""><br>
						<input type="text" name="client_id" placeholder="client_id" required=""><br>
						<input type="passhash" name="passhash" placeholder="Password" required=""><br>
						<input type="password" name="passwordConf" placeholder="Confirm Password" required=""><br>
						<input type="submit" value="REGISTER">
					</form>
				</div>
			</div>
		</div>
	</div>				
</body>
</html>